{% extends "network/layout.html" %}{% load static %}

{% block body %}

    <!-- parte que deberia quedar quieta -->
    {% if user.is_authenticated %}
    <div class="container-fluid" id="formlayer">
        <div class="row justify-content-left">

            <div class="col-3 adminpanel">
                {% if user.is_superuser %}
                <div class="text-center">
                    <p><strong>Test panel, only for superusers</strong></p>
                    <button id="createuser" class="btn btn-primary">Create user</button>
                
                    <button id="createposts" class="btn btn-primary">Create Posts</button>
                </div>
                {% endif %}
            </div>

            <div class="col-6 border formlayer rounded shadow">
                <div class="container-fluid" id="createpost">
                    <div class="row">

                        <div class="col-12">
                            <h1 id="newpost">New Post:</h1>
                        </div>

                        <div class="col-12">
                            <form id='formpost'>
                                <div class="form-group">
                                    <textarea id="bodypost" maxlength="141" class="form-control" placeholder="What are you feeling?"></textarea>
                                    <button type="submit" id="buttonsubmit" class="btn btn-primary float-right">Post</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    {% else %}
    <div class="container-fluid" id="formlayer">

        <div class="row justify-content-center">

            <div class="col-6 border formlayer rounded shadow">
                <div class="container-fluid" id="createpost">
                    <div class="row">

                        <div class="col-12">
                            <form id='formpost'>
                                <h1>Register now!</h1>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    {% endif %}
    
    

    <div class="container-fluid" id="profilelayer">
        <div class="row justify-content-center">

            <!-- zona de perfil -->
            <div class="col-6 border profilelayer rounded shadow">
                <div class="container-fluid" id="createpost">

                    <div class="row align-items-center">

                        <div class="col-3 profilecontainer1">
                            <div id="avatarprofile" class="d-inline-flex shadow bg-white rounded-circle"></div>
                        </div>

                        <div class="col-7 profilecontainer2 align-self-start">
                            <h1 id="fullnamedesc"></h1>
                            <h6 id="usernamedesc"></h6>
                        </div>

                        <div class="col-2 profilecontainer3">
                            <p id="pfollowers">Followers: <span id="followersdesc">0</span></p>
                            <p id="pfollowers">Following: <span id="followingdesc">0</span></p>
                            {% if user.is_authenticated %}
                            <div id="buttonfollowspan">
                                
                            </div>
                            {% endif %}
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>


    <!-- parte que deberia poder ser scrolleada -->
    <div class="container-fluid" id="allpostshere">
            <!-- zona de post -->
    </div>


    <!-- paginator -->
    <div class="container-fluid">

        <div class="row justify-content-center">

            <div class="col-6 border shadow" id="paginatorhere">
                
                <nav aria-label="..." class="navpaginator">
                    <ul id="postspaginator" class="pagination pagination-sm justify-content-center">
                        
                    </ul>
                </nav>
                
            </div>

        </div>

    </div>


{% endblock %}

{% block script %}
<script src="{% static 'network/javascript.js' %}"></script>
{% endblock %}