{% extends "network/layout.html" %}{% load static %}

{% block body %}

    <!-- parte que deberia quedar quieta -->
    <div class="container-fluid">
        <div class="row">

            <!-- lado izquierdo avatar info user -->
            <div class="col-3 border">
                
            </div>

            <!-- zona de createpost -->
            <div class="col-6 border">
                <div class="container-fluid" id="createpost">
                    <div class="row">

                        
                        <div class="col-3">
                            <div id="avatarprofile" class="d-inline-flex shadow bg-white rounded-circle"></div>
                        </div>
                        <div class="col-7">
                            <h1 id="usernamearg">{{ thisuser.username }}</h1>
                            <h6>usuario</h6>
                        </div>
                        <div class="col-2">

                            <p>Followers: </p>
                            <p>Following: </p>
                            <button>Follow</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>




    <!-- parte que deberia poder ser scrolleada -->
    <div class="container-fluid">
        <div class="row">

            <!-- no se usa -->
            <div class="col-3"></div>

            <!-- zona de post -->
            <div class="col-6 border" id="allpostshere">
                <!-- posts here -->
                
                

            </div>

        </div>

    </div>

{% endblock %}

{% block script %}
<script src="{% static 'network/profile.js' %}"></script>
{% endblock %}