{% extends "network/layout.html" %}{% load static %}

{% block body %}
<div class="divregister">
    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="" method="post" id="registerform">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" id="firstname" autofocus type="text" name="firstname" placeholder="First name">
        </div>
        <div class="form-group">
            <input class="form-control" id="lastname" type="text" name="lastname" placeholder="Last name">
        </div>
        <div class="form-group">
            <input class="form-control" id="username" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" id="email" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" id="password" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" id="confirmation" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <div class="form-group">
            <input class="form-control" id="image" type="url" name="image" placeholder="URL image link">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'network/register.js' %}"></script>
{% endblock %}